.Page {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10%;
  margin-top: 120px;
  width: 100%;
}

.QuestionContainer {
  align-items: center;
  display: flex;
  flex: 1 0 auto;
  flex-flow: column wrap;
  font-family: Tahoma , sans-serif;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.Question {
  font-size: 20px;
  margin-bottom: 24px;
}

.Buttons {
  align-items: center;
  background: var(--secondary-color);
  border: none;
  border-radius: var(--radius);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  color: var(--main-color);
  cursor: pointer;
  display: flex;
  flex-flow: column wrap;
  font-size: 20px;
  justify-content: center;
  margin-bottom: 12px;
  padding: 0.8rem 1.6rem;
  transition: 0.1s;
  width: 280px;
}

.Time {
  color: red;
  font-size: 40px;
  margin-top: 12px;
  padding-left: 40px;
}

.Time svg {
  padding-top: 16px;
}

.WrongAnswer {
  border: 1px solid red;
}

.CorrectAnswer {
  border: 1px solid green;
}

.WrongAnswer, .CorrectAnswer {
  align-items: center;
  background: var(--secondary-color);
  border-radius: var(--radius);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  color: var(--main-color);
  cursor: pointer;
  display: flex;
  flex-flow: column wrap;
  font-size: 20px;
  justify-content: center;
  margin-bottom: 12px;
  padding: 0.8rem 1.6rem;
  transition: 0.1s;
  width: 280px;
}

.Next {
  align-items: center;
  background: var(--tertiary-color);
  border: none;
  border-radius: var(--radius);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  color: var(--main-color);
  cursor: pointer;
  display: flex;
  flex-flow: column wrap;
  font-size: 20px;
  font-weight: 600;
  justify-content: center;
  margin-top: 24px;
  padding: 0.8rem 1.6rem;
  transition: 0.1s;
  width: 140px;
}
