.Footer {
  align-items: center;
  background-color: var(--tertiary-color);
  bottom: 0;
  color: var(--black);
  display: flex;
  flex-shrink: 0;
  font-size: 18px;
  height: 70px;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.ContentFooter {
  text-align: center;
}
